/*.btn-outline-danger {
    transition: all .5s;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #d43f3a;
    background-color: #fff;
}

.btn-outline-danger:hover {
    background-color: #d9534f;
}*/

