<div class="bBoard">
  <h1 class="center">{{ currentMonth() | date: 'MMMM, y' }}</h1>
  <ul>
    <div>
      <li *ngFor="let apple of apples">
        <a href="#" [style.background]="getStyle(apple)">
          <h2 class="date-header">{{apple.date | date: 'yMMMMEEEEd' }}</h2>
          <button class="btn btn-danger btn-sm" type="submit" (click)="deleteApple(apple)">x</button>
          <div class="clearfix"></div>
          <hr class="dark">
          <p *ngFor="let person of apple.attendees" class="attendee-name">{{person.name}}</p>
        </a>
      </li>
    </div>
  </ul>
</div>

<div class="clearfix"></div>

<div class="apple-count">
  <h4> Total Apples this month: {{ totalApples() }}</h4>
</div>