<div class="bBoard">
  <ul>
    <li>
      <a href="#">
        <button class="btn btn-danger btn-sm" type="submit" (click)="deleteApple(apple.id)">x</button>
        <h2>Title #1</h2>
        <p>Text Content</p>
      </a>
    </li>
    <li>
      <a href="#">
        <button class="btn btn-danger btn-sm" type="submit" (click)="deleteApple(apple.id)">x</button>
        <h2>Title #2</h2>
        <p>Text Content</p>
      </a>
    </li>
     <li>
      <a href="#">
        <button class="btn btn-danger btn-sm" type="submit" (click)="deleteApple(apple.id)">x</button>
        <h2>Title #3</h2>
        <p>Text Content</p>
      </a>
    </li>
     <li>
      <a href="#">
        <button class="btn btn-danger btn-sm" type="submit" (click)="deleteApple(apple.id)">x</button>
        <h2>Title #4</h2>
        <p>Text Content</p>
      </a>
    </li>
  </ul>
</div>

<!--
<div class="bBoard">
  <ul>
    <li *ngFor="let apple of apples" >
      <a href="#">
        <button class="btn btn-danger btn-sm" type="submit" (click)="deleteApple(apple.id)">x</button>
        <ul>
          <li *ngFor="let person of apple.attendees>{{person}}</li>
        </ul>
      </a>
    </li>
  </ul>
</div>
-->