<h1>
  {{title}}
</h1>

<aside>
  <div class="margin-20">
    <h4 class="centered">New Apple</h4>
    <hr>
  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <!----Date---->
    <div class="form-group col-md-9">
      <label>Date:</label>
      <input type="date" class="form-control" formControlName="date">
      <small *ngIf="!myForm.controls.date.valid" class="text-danger">
        Date is required 
      </small>
    </div>
    <!----Color---->
    <div class="clearfix"></div>
    <div class="form-group col-md-8">
      <label>Apple Color:</label>
      <input list="colors" class="form-control" formControlName="color">
      <datalist id="colors">
        <option value="Red Apple">
        <option value="Green Apple">
      </datalist>
      <small *ngIf="!myForm.controls.color.valid" class="text-danger">
        A apple color is required 
      </small>
    </div>
    <!----Attendees---->
    <div formArrayName="attendees">
      <div *ngFor="let attendees of myForm.controls.attendees.controls; let i=index" class="panel panel-default">
        <div [formGroupName]="i">
          <div class="form-group col-md-6">
            <label>Attendee {{i +1 }}: </label>
            <button class="btn btn-outline-danger btn-tiny" type="submit" *ngIf="myForm.controls.attendees.controls.length > 2" (click)="removeAttendee(i)">X</button>
            <input type="text" class="form-control" formControlName="name">
            <small [hidden]="myForm.controls.attendees.controls[i].controls.name.valid" class="text-danger">
                Name is required
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div>
      <a href="#" (click)="addAttendee()">
        Add attendee +
      </a>
    </div>
    <div class="margin-20">
      <button type="submit" class="btn btn-primary center-btn" [disabled]="!myForm.valid">Submit</button>
    </div>
    <div class="clearfix"></div>
  </form>
</aside>
<!----bBoard---->
<app-apple></app-apple>

